<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Om oss</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Addidé er et fellesverksted for 3D-printing i Mandal, og en del av <a href="https://www.naringshagen.no" target="_blank" style="color: inherit; text-decoration: underline;">Lindesnesregionen Næringshage</a>.<br><br>Her kan vi hjelpe bedriftene i regionen med å lage prototyper, gjenskape deler eller produsere gjenstander i små serier.</p>
      </div>
      <div class="col-lg-4">
        <p>Addidés visjon er å skape en felles kompetansearena som kan bidra til et teknologisk løft lokalt - både for bedrifter, utdanningsinstitusjoner og andre.</p>
      </div>
    </div>
    <div class="row custom-margin" style="margin-top: 4rem;">
      <div class="col-lg-12 text-center">
        <p>Verkstedet driftes av <a href="https://polybjorn.com" target="_blank" style="color: inherit; text-decoration: underline;">Bjørn A. Andersen</a><br>
        +47 969 11 587<br>
        post@addide.no</p>
      </div>
    </div>
  </div>
</section>