<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Om oss</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Addidé er et 3D-printverksted i Mandal, og en del av Lindesnesregionen Næringshage. Vi ønsker å skape en robust og åpen arena som kan bidra til et teknologisk løft både for partnere og kunder.</p>
      </div>
      <div class="col-lg-4">
        <p>Verkstedet driftes og vedlikeholdes av Bjørn A. Andersen.</p>
      </div>
    </div>
    <div class="row">
      <div>
        <p>Verkstedet driftes og vedlikeholdes av Bjørn A. Andersen.</p>
      </div>
    </div>
  </div>
</section>






