<!-- Portfolio Grid Section -->
<section id="portfolio">
  <div id="gallery" class="gallery">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-6">
          <img src="https://res.cloudinary.com/det9ftymo/image/upload/t_1 to 1 format/v1724870317/IMG_3473_ofkz4d.png" class="img-responsive" alt="Sample Image">
          <div class="portfolio-text">
            <p>Besøk av Global Ocean Technology</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <img src="https://res.cloudinary.com/det9ftymo/image/upload/t_1 to 1 format/v1724870318/IMG_1948_pornrr.jpg" class="img-responsive" alt="Sample Image">
          <div class="portfolio-text">
            <p>Prototype til gründer</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <img src="https://res.cloudinary.com/det9ftymo/image/upload/t_1 to 1 format/v1724870321/IMG_1893_pv3pry.jpg" class="img-responsive" alt="Sample Image">
          <div class="portfolio-text">
            <p>Testing av prototyper hos GE Healthcare</p>
          </div>
        </div>
      </div><br>
      <div class="row">
        <div class="col-lg-4 col-sm-6">
          <img src="https://res.cloudinary.com/det9ftymo/image/upload/t_1 to 1 format/v1724870317/IMG_1781_eg84xz.jpg" class="img-responsive" alt="Sample Image">
          <div class="portfolio-text">
            <p>Deler til verktøy</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <img src="https://res.cloudinary.com/det9ftymo/image/upload/t_1 to 1 format/v1725001845/D6D8D07E-C364-4997-8373-34525201A13F_1_105_c_txz97k.jpg" class="img-responsive" alt="Sample Image">
          <div class="portfolio-text">
            <p>Varelager prototype til Mandal Castings</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <img src="https://res.cloudinary.com/det9ftymo/image/upload/t_1 to 1 format/v1724870317/IMG_1734_ma97zb.jpg" class="img-responsive" alt="Sample Image">
          <div class="portfolio-text">
            <p>Maskinprøver fra metall printer</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>